/* 页面布局 */
.common-page {
    height: 100%;
    padding: 10px 20px;

    &__searchBox {
        display: flex;
        margin-bottom: 10px;
    }
}

.common-search-input {
    width: 300px !important;
}

.common-table-wrap {
    height: calc(100% - 50px);
    &__table {
        height: calc(100% - 68px);
    }
}

/* 工具样式 */
.cursor {
    cursor: pointer;
}

$dir: (
    't': 'top',
    'r': 'right',
    'b': 'bottom',
    'l': 'left'
);
$vals: 5, 10, 15, 20, 25;
@each $key, $d in $dir {
    @for $i from 1 through length($vals) {
        $v: nth($vals, $i);
        .m#{$key}#{$v} {
            margin-#{$d}: 10px !important;
        }
        .p#{$key}#{$v} {
            padding-#{$d}: 10px !important;
        }
    }
}
